<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <p>
        <strong>aspConf</strong> is a virtual conference focused on one thing: <em><strong>showcasing
            the ASP.NET stack as the platform for great web applications.</strong></em></p>
    <p>
        We've revamped the popular <a href="http://mvcconf.com" target="_blank">mvcConf</a>
        conference to serve all of <a href="http://www.asp.net" target="_blank">ASP.NET</a>,
        <a href="http://www.windowsazure.com" target="_blank">Windows Azure</a>, the <a href="http://www.microsoft.com/web"
            target="_blank">MS Web Platform</a> and the <a href="http://c4mvc.net" target="_blank">
                community</a> as a whole. If you're a developer interested in taking our
        platform to the next level, aspConf is the conference you don't want miss.</p>
    <div class="row-fluid">
        <div class="span6">
            <h2>
                News: </h2>
            <p>
                <strong>Videos</strong>: Videos are being posted to <a href="http://channel9.msdn.com/Events/aspConf/aspConf">Channel 9</a>!</p>            
        </div>
    </div>
</div>
<!-- Example row of columns -->
<div class="row-fluid">
    @*<div class="span4">
        <h2>
            Call for Speakers</h2>
        <p>
            Do you have something to share with the community? mvcConf has been revamped to
            cover a broader range of topics for web development on the ASP.NET stack. Seasoned
            speaker or novice, we want to encourage you to share what you're doing.</p>
        <p>
            <a class="btn" href="https://docs.google.com/spreadsheet/viewform?formkey=dDRBYU85NXNMZ1JDRlBQZ1ViQ2UzaGc6MQ#gid=0"
                target="_blank">Submit Abstracts &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>
            Register</h2>
        <p>
            Signup for the conference. It's FREE! It's 100% online so you'll just need an internet
            connection to participate.</p>
        <p>
            <a class="btn" href="http://aspconf.eventbrite.com/" target="_blank">Sign up &raquo;</a></p>
    </div>*@
    <div class="span4">
        <h2>Rate the Sessions</h2>
        <p>
            Say Thank you to the speakers! Rate their sessions and give constructive feedback. It is the best way of showing your appriciation</p>
        <p>
            <a class="btn" href="http://live.aspconf.net/day/1" target="_blank">Rate It &raquo;</a></p>
    </div>    
    <div class="span4">
        <h2>Videos</h2>
        <p>
            We recorded all of the presentations and putting the videos on Channel 9.  Over 60 hours of expert presentations are available for free!</p>
        <p>
            <a class="btn" href="http://channel9.msdn.com/Events/aspConf/aspConf" target="_blank">Videos &raquo;</a></p>
    </div>    
    <div class="span4">
        <h2>
            Staff</h2>
        <p>
            We need some help processing videos! If you have used camtasia before, we can use your help.
        </p>
        <p>
            <a class="btn" href="https://docs.google.com/spreadsheet/viewform?formkey=dFp3bFpUdnBOY1hpR1FjOTk4SEdNT3c6MA#gid=0"
                target="_blank">Volunteer Signup &raquo;</a></p>
    </div>
</div>
