 <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
          <p style="text-align: center"><img alt="aspConf Logo" src="/Content/logo.png"/></p>
          <p>
              <strong>aspConf</strong> is a virtual conference focused on one thing: <em><strong>showcasing the ASP.NET web stack as the platform for great web applications.</strong></em></p>

          <p>We've taken the popular <a href="http://mvcconf.com" target="_blank">mvcConf</a> conference and revamp it to serve all of <a href="http://www.asp.net" target="_blank">ASP.NET</a>, <a href="http://www.windowsazure.com" target="_blank">Windows Azure</a>, the <a href="http://www.microsoft.com/web" target="_blank">MS Web Platform</a> and the <a href="http://c4mvc.net" target="_blank">community</a> as a whole.  If you're a developer interested in taking our platform to the next level, aspConf is the conference you don't want miss.</p>
          <h2>Current Details:</h2>
          
          <h3>
          <ul>
              <li>Date: July 17th & 18th 2012</li>
              <li>Where: Streamed Online</li>
              <li>Cost: Free!</li>
          </ul>
          </h3>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Call for Speakers</h2>
            <p>Do you have something to share with the community?  We have expanded mvcConf to 
                cover a broader range of topics for web development on the ASP.NET web stack. Seasoned
                 speaker or novice, we want to encourage you to share what your doing.</p>
          <p><a class="btn" href="https://docs.google.com/spreadsheet/viewform?formkey=dDRBYU85NXNMZ1JDRlBQZ1ViQ2UzaGc6MQ#gid=0" target="_blank">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Register</h2>
           <p>Signup for the conference.  Its Free! Its 100% online so you will just need an internet connection to participate.</p>
          <p><a class="btn" href="http://aspconf.eventbrite.com/" target="_blank">Sign up &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Staff</h2>
          <p>Want to wear a cool staff t-shirt?  Well we do not have t-shirts but we do need help pulling of the conference. </p>
          <p><a class="btn" href="https://docs.google.com/spreadsheet/viewform?formkey=dFp3bFpUdnBOY1hpR1FjOTk4SEdNT3c6MA#gid=0" target="_blank">View details &raquo;</a></p>
        </div>
      </div>
