 <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
          <p><img src="/Content/logo.jpg"/></p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Call for Speakers</h2>
            <p>Do you have something to share with the community?  We have expanded mvcConf to 
                cover a broader range of topics for web development on the Asp.Net web stack. Seasoned
                 speaker or novice, we want to encourage you to share what your doing.</p>
          <p><a class="btn" href="https://docs.google.com/spreadsheet/viewform?formkey=dDRBYU85NXNMZ1JDRlBQZ1ViQ2UzaGc6MQ#gid=0">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Register</h2>
           <p>Signup for the conference.  Its Free! Its 100% online so you will just need an internet connection to participate.</p>
          <p><a class="btn" href="http://aspconf.eventbrite.com/">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Staff</h2>
          <p>Want to wear a cool staff t-shirt?  Well we do not have t-shirts but we do need help pulling of the conference. </p>
          <p><a class="btn" href="https://docs.google.com/spreadsheet/viewform?formkey=dFp3bFpUdnBOY1hpR1FjOTk4SEdNT3c6MA#gid=0">View details &raquo;</a></p>
        </div>
      </div>
