@{
    ViewBag.Title = "Recording";
}

<h2>Screen Recording with CamStudio</h2>

<p>
    For those of you that do not have screen recording software, we’re recommending that you use <a href="http://camstudio.org/" target="_blank">CamStudio</a>, an open source screen recorder, to capture your presentation.  
Please note that in order to get your presentation out on Channel 9, we’ll need a good recording of it.  If you think you’ll have trouble recording the presentation, we will need to record it soon after the conference.  Otherwise, your presentation will not be listed on the Channel 9 event site.</p>

<h3>
    Getting Started</h3>

<p>The fastest way to get started is to follow these steps:</p>
<ol>
    <li>
        <a href="http://cdn.geekstati.co/speaker/CamStudio_Setup_v2.6b_r294.exe" target="_blank">Download CamStudio</a> (<a href="http://cdn.geekstati.co/speaker/CamStudio_Setup_v2.6b_r294.exe" target="_blank">http://cdn.geekstati.co/speaker/CamStudio_Setup_v2.6b_r294.exe</a>)<br />
        <strong><em>
            Make sure to install the CamStudio Lossless Codec v1.5</em></strong>
    </li>
    <li>
        <a href="http://www.howtogeek.com/?post_type=post&p=18690" target="_blank">Follow this easy tutorial to learn the basics of recording</a> (<a href="http://www.howtogeek.com/?post_type=post&p=18690" target="_blank">http://www.howtogeek.com/?post_type=post&p=18690</a>)
    </li>
</ol>
<p>
There’s no need to worry about making any edits or changes to the video.  We’ll go through all the videos and make edits on them prior to posting them.  Again, if you do not like video you recorded, feel free to redo it.  It’s all about getting the right message of your content for the community to see.</p>