<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AWSAccessKey" value="AKIAJ6PRK5ASMHHMXUCA"/>
        <add key="AWSSecretKey" value="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"/>
    </appSettings>

    <system.net>
        <mailSettings>
            <smtp from="info@aspconf.net">
                <network host="smtp.sendgrid.net"
                         port="25" 
                         userName="d1d05216-d310-498a-8841-597bfb9c0f20@apphb.com" 
                         password="bhg34mc2" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
