h1, h2, h3, h4, h5, h6 {
    text-shadow: 1px 1px 2px #777;
}

.navbar .brand 
{
    padding-top: 0;
    padding-bottom: 0;
    height: 75px;
}
.navbar img 
{
    max-height: 100%;
}

.logo 
{
    text-align: center;
}    

@media (max-width: 767px) 
{
  
  .hero-unit 
  {
      padding: 30px;
  }
}

@media (min-width: 980px) 
{
    
    .navbar .container 
    {
        position: relative;
    }

    .navbar .nav 
    {
        position: absolute;   
        bottom: 0;
        right: 0;
        left: inherit;
    }
    
    body 
    {
        padding-top: 95px;
    }
}