<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>


    <connectionStrings>
        <add name="ConfContext"
             connectionString="Server=327dfb8e-5c24-4708-ba42-a0780143052e.sqlserver.sequelizer.com;Database=db327dfb8e5c244708ba42a0780143052e;User ID=nmltfgohlokoigpb;Password=G4GaL3L2PS8YygAwvYv25ZeyyKGCfua3hP7UjMBLZHfBqQYuibkD3RhPXiJbtiUu;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
