<h2>What do you need to know as a speaker?</h2>
<p>
    <strong>Format:</strong> Presentations slots will be 1 hour and 15 minutes long. We have an additional 15 minutes before the start of the next 
    session, so this can give you more time if you absolutely need it to answer questions. For slides please use the attached power
    point template you should use for your slides.
    <ul><li>
    <a href="http://cdn.geekstati.co/aspconf/speaker/aspConfTemplate.potx">Powerpoint Template</a>
</li></ul>

</p>
<p>
    <strong>Tools:</strong> 
    <ul>
        <li><strong>Live Meeting</strong> Presentations will be given using Live Meeting to share your screen. You can test it out by using the Speaker test room.
            <a href="http://live.aspconf.net/speaker/7">http://live.aspconf.net/speaker/7</a> <br/>To connect to your room, look for your room number from the schedule then replace the last number in the url to open your rooms launch page.</li>
        <li><strong>Recording</strong> We would like you to record your presentation locally using Camtasia or CamStudio.  We need these high
            quality recordings so that we can post your presentation on Microsofts Channel 9 Website.  
            <ul>
                <li>CamStudio <a href="/sessions/recording"> How To</a></li>
                <li>Camtaisia <a href="https://docs.google.com/open?id=0B6Zn8tqUVSf1cGM5SWZlV2ZxUVU">How to</a></li>
            </ul>
            To Upload a recording once your done with your session upload it through this <a href="@Url.Action("UploadRecording")">form</a>.
            </li>

        <li><strong>Chat</strong> We are also planning on using Jabbr.net for real time chat at the conference, this will allow you to answer questions
            and take feedback after your talk is finished. Please make sure you can log into <a href="http://jabbr.net">Jabbr.net </a>with one of the OAuth or Open Id providers.</li>
       
    </ul>
    
    
</p>
<p>
    <strong>Support: </strong> We are using both a private Jabbr room and a private live meeting to help support the speakers the days of the conference. To connect to the jabber room use the following url: http://jabbr.net/#/rooms/aspconf-room7 .To join it use the invite code 294118.<br/>
    To connect to the Private Live Meeting use the following url: <a href="http://live.aspconf.net/speaker/7">http://live.aspconf.net/speaker/7</a>
</p>