@model IList<aspConf.Model.Sponsor>
@{
    var partnerSponsors = Model.Where(s => s.LevelId == 1).ToList();
    var conferenceSponsors = Model.Where(s => s.LevelId != 1).ToList();
}
<h2>Thank our Sponsors!</h2>

<p>This conference could not happen without the help of our sponsors. We would like to thank them for their support.&nbsp;&nbsp;Please support us by visiting their websites and looking at their products and services.</p>
<p>Want to be on this list? Checkout our <strong><a href="https://dl.dropbox.com/u/141543/aspConfSponsorLetter.pdf" target="_blank">Call for Sponsor</a></strong> letter and get involved!</p>
<div>
    <div>
        <h3>
            Partner Sponsors</h3>
            @{ Html.RenderPartial("~/Views/Shared/_SponsorList.cshtml", partnerSponsors); }
    </div>
    <div>
        <h3>
            Conference Sponsors</h3>
        @{ Html.RenderPartial("~/Views/Shared/_SponsorList.cshtml", conferenceSponsors); }
    </div>
</div>

<div>&nbsp;</div>