<style>.tblGenFixed td {padding:0 3px;overflow:hidden;white-space:normal;letter-spacing:0;word-spacing:0;background-color:#fff;z-index:1;border-top:0px none;border-left:0px none;border-bottom:1px solid #CCC;border-right:1px solid #CCC;} .dn {display:none} .tblGenFixed td.s9 {background-color:white;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:normal;overflow:hidden;border-right:1px solid black;border-bottom:;} .tblGenFixed td.s23 {background-color:#000000;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:bottom;direction:Context;white-space:normal;overflow:hidden;border-right:1px solid black;border-bottom:;} .tblGenFixed td.s7 {background-color:white;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:right;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s8 {background-color:white;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s24 {background-color:#ff9900;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:bottom;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:;border-bottom:1px solid black;} .tblGenFixed td.s21 {background-color:#d9d9d9;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:1px solid black;} .tblGenFixed td.s5 {background-color:#d9d9d9;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:;border-bottom:1px solid black;} .tblGenFixed td.s22 {background-color:#d9d9d9;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:;border-bottom:1px solid black;} .tblGenFixed td.s6 {background-color:white;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:right;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:;border-bottom:;border-left:1px solid #CCC;} .tblGenFixed td.s3 {background-color:#d9d9d9;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:bottom;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s4 {background-color:#d9d9d9;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:;border-bottom:1px solid black;} .tblGenFixed td.s20 {background-color:#d9d9d9;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:bold;font-style:normal;text-decoration:none;vertical-align:bottom;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s0 {background-color:white;font-family:arial,sans,sans-serif;font-size:180.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:bottom;direction:auto-ltr;white-space:normal;overflow:hidden;border-top:1px solid #CCC;border-right:;border-bottom:;border-left:1px solid #CCC;} .tblGenFixed td.s2 {background-color:#d9d9d9;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s1 {background-color:#d9d9d9;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:;border-bottom:;border-left:1px solid #CCC;} .tblGenFixed td.s16 {background-color:#ff9900;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:bottom;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:;border-bottom:1px solid black;} .tblGenFixed td.s17 {background-color:#c9daf8;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid black;border-bottom:1px solid black;} .tblGenFixed td.s18 {background-color:white;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:bottom;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:;border-left:1px solid #CCC;} .tblGenFixed td.s19 {background-color:white;font-family:arial,sans,sans-serif;font-size:180.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:bottom;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:;border-bottom:;border-left:1px solid #CCC;} .tblGenFixed td.s12 {background-color:#ead1dc;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:bottom;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid black;border-bottom:1px solid black;} .tblGenFixed td.s13 {background-color:#ead1dc;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid black;border-bottom:1px solid black;} .tblGenFixed td.s14 {background-color:#c9daf8;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:bottom;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid black;border-bottom:1px solid black;} .tblGenFixed td.s15 {background-color:#ead1dc;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:bottom;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid black;border-bottom:1px solid black;} .tblGenFixed td.s10 {background-color:#000000;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:bottom;direction:Context;white-space:normal;overflow:hidden;border-right:1px solid black;border-bottom:1px solid black;} .tblGenFixed td.s11 {background-color:#ead1dc;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid black;border-bottom:1px solid black;} </style>
<div style="text-align: center;">
    <table dir="ltr" border="0" cellpadding="0" cellspacing="0" class="tblGenFixed" id="tblMain">
        <tbody>
            <tr dir="ltr">
                <td colspan="9" dir="ltr" class="s0">
                    DAY 1
                </td>
            </tr>
            <tr dir="ltr">
                <td dir="ltr" class="s1">
                    CST
                </td>
                <td dir="ltr" class="s2">
                    PST
                </td>
                <td dir="ltr" class="s3">
                    GMT
                </td>
                <td dir="ltr" class="s4">
                    Channel 9
                </td>
                <td dir="ltr" class="s5">
                    Room 1
                </td>
                <td dir="ltr" class="s5">
                    Room 2
                </td>
                <td dir="ltr" class="s5">
                    Room 3
                </td>
                <td dir="ltr" class="s5">
                    Room 4
                </td>
                <td dir="ltr" class="s5">
                    Room 5
                </td>
            </tr>
            <tr dir="ltr">
                <td class="s6">
                    9:00 AM<br />
                    10:30 AM
                </td>
                <td class="s7">
                    7:00 AM<br />
                    8:30 AM
                </td>
                <td class="s8">
                    3:00 PM<br />
                    4:30 PM
                </td>
                <td class="s10">
                </td>
                <td dir="ltr" class="s11">
                    Enterprise Search with MVC4 - Chander Dhall
                </td>
                <td dir="ltr" class="s11">
                    That's Crazy! How To Build Single Page Web Apps - Chris Love
                </td>
                <td dir="ltr" class="s11">
                    Cryptography 101 Using the .NET Framework and ASP.NET - Robert Boedigheimer
                </td>
                <td dir="ltr" class="s12">
                    Brewing Beer with Windows Azure - Maarten Balliauw
                </td>
                <td dir="ltr" class="s13">
                    Going Native With HTML5 - Chris Love
                </td>
            </tr>
            <tr dir="ltr">
                <td class="s6">
                    10:30 AM<br />
                    12:00 PM
                </td>
                <td class="s7">
                    8:30 AM<br />
                    10:00 AM
                </td>
                <td class="s8">
                    4:30 PM<br />
                    6:00 PM
                </td>
                <td dir="ltr" class="s14">
                    Performance profiling your ASP.NET application - Damian Edwards
                </td>
                <td dir="ltr" class="s13">
                    Rev up your javascript skills - Chander Dhall
                </td>
                <td dir="ltr" class="s13">
                    Tame Your Static Content: Compress, Optimize, Secure &amp; more... - Dan Maharry
                </td>
                <td dir="ltr" class="s13">
                    Test-First and Functional-First with Web API - Ryan Riley
                </td>
                <td dir="ltr" class="s13">
                    Responsive Design - Shawn Wildermuth
                </td>
                <td dir="ltr" class="s15">
                    Glimpse into ASP.NET - Taking a never before seen look inside your server!
                </td>
            </tr>
            <tr dir="ltr">
                <td class="s6">
                    12:00 PM<br />
                    1:30 PM
                </td>
                <td class="s7">
                    10:00 AM<br />
                    11:30 AM
                </td>
                <td class="s8">
                    6:00 PM<br />
                    7:30 PM
                </td>
                <td dir="ltr" class="s14">
                    Realtime ASP.NET with SignalR: Beyond simple chat - Damian Edwards, David Fowler
                </td>
                <td dir="ltr" class="s13">
                    Test Driving ASP.NET MVC - Keith Burnell
                </td>
                <td dir="ltr" class="s13">
                    Introduction to Simple.Web - Mark Rendle
                </td>
                <td dir="ltr" class="s13">
                    Score a Knockout - John West
                </td>
                <td dir="ltr" class="s13">
                    HTML5 is the Future of the Web - David Giard
                </td>
                <td dir="ltr" class="s13">
                    HTML5 w/ ASP.NET 4 &amp; 4.5 - Matthew Osborn
                </td>
            </tr>
            <tr dir="ltr">
                <td class="s6">
                    1:30 PM<br />
                    2:30 PM
                </td>
                <td class="s7">
                    11:30 AM<br />
                    12:30 PM
                </td>
                <td class="s8">
                    7:30 PM<br />
                    8:30 PM
                </td>
                <td colspan="6" dir="ltr" class="s16">
                    Keynote - Scott Guthrie
                </td>
            </tr>
            <tr dir="ltr">
                <td class="s6">
                    3:00 PM<br />
                    4:30 PM
                </td>
                <td class="s7">
                    12:30 PM<br />
                    2:30 PM
                </td>
                <td class="s8">
                    9:00 PM<br />
                    10:30 PM
                </td>
                <td dir="ltr" class="s17">
                    Advanced ASP.NET Web Forms - Damian Edwards
                </td>
                <td dir="ltr" class="s13">
                    Kendo UI – Lighten Your Load by Adding a Sword - Keith Burnell
                </td>
                <td dir="ltr" class="s13">
                    Quick Start: Test Driven Development - David Vujic
                </td>
                <td dir="ltr" class="s13">
                    Integration Testing With SpecsFor.Mvc – ASP.NET MVC Testing on Steroids! - Matt
                    Honeycutt
                </td>
                <td dir="ltr" class="s13">
                    Persistence In The Cloud: How to use Azure Storage - David Giard
                </td>
                <td dir="ltr" class="s13">
                    Modern Web Development - Shawn Wildermuth
                </td>
            </tr>
            <tr dir="ltr">
                <td class="s6">
                    4:30 PM<br />
                    6:00 PM
                </td>
                <td class="s7">
                    2:30 PM<br />
                    4:00 PM
                </td>
                <td class="s8">
                    10:30 PM<br />
                    12:00 AM
                </td>
                <td dir="ltr" class="s14">
                    Truly understanding async programming in ASP.NET - Damian Edwards, Brad Wilson,
                    Levi Broderick
                </td>
                <td dir="ltr" class="s13">
                    ElmahR = ELMAH + SignalR - Roberto Vespa
                </td>
                <td dir="ltr" class="s13">
                    Introduction to the ASP.NET Web API - John V. Petersen
                </td>
                <td dir="ltr" class="s13">
                    ASP.NET MVC Tips, Tricks and Hidden Gems - Shay Friedman
                </td>
                <td dir="ltr" class="s13">
                    Exterminating Common jQuery Bugs - Elijah Manor
                </td>
                <td dir="ltr" class="s13">
                    Intro to RavenDB: NoSQL is Rapping at Your Door - David Neal
                </td>
            </tr>
            <tr dir="ltr">
                <td class="s6">
                    6:00 PM<br />
                    7:30 PM
                </td>
                <td class="s7">
                    4:00 PM<br />
                    5:30 PM
                </td>
                <td class="s8">
                    12:00 AM<br />
                    1:30 AM
                </td>
                <td dir="ltr" class="s14">
                    Doing it my way: Host-agnostic .NET web frameworks with OWIN: Louis DeJardin
                </td>
                <td dir="ltr" class="s13">
                    Tips for building responsive Cloud applications - Igor Moochnick
                </td>
                <td dir="ltr" class="s13">
                    CQRS with ASP.NET MVC - A Year On - Ashic Mahtab
                </td>
                <td dir="ltr" class="s13">
                    Fiddler and Your Website - Robert Boedigheimer
                </td>
                <td dir="ltr" class="s13">
                    I Didn't Know JavaScript Could Do That! - David Hoerster
                </td>
                <td dir="ltr" class="s13">
                    NuGet: Add Reference, Awesome - Matthew Osborn
                </td>
            </tr>
            <tr dir="ltr">
                <td colspan="9" class="s18">
                </td>
            </tr>
            <tr dir="ltr">
                <td colspan="9" dir="ltr" class="s19">
                    DAY 2
                </td>
            </tr>
            <tr dir="ltr">
                <td dir="ltr" class="s1">
                    CST
                </td>
                <td dir="ltr" class="s2">
                    PST
                </td>
                <td dir="ltr" class="s3">
                    GMT
                </td>
                <td dir="ltr" class="s22">
                    Channel 9
                </td>
                <td dir="ltr" class="s22">
                    Room 1
                </td>
                <td dir="ltr" class="s22">
                    Room 2
                </td>
                <td dir="ltr" class="s22">
                    Room 3
                </td>
                <td dir="ltr" class="s22">
                    Room 4
                </td>
                <td dir="ltr" class="s22">
                    Room 5
                </td>
            </tr>
            <tr dir="ltr">
                <td class="s6">
                    9:00 AM<br />
                    10:30 AM
                </td>
                <td class="s7">
                    7:00 AM<br />
                    8:30 AM
                </td>
                <td class="s8">
                    3:00 PM<br />
                    4:30 PM
                </td>
                <td class="s10">
                </td>
                <td dir="ltr" class="s13">
                    Fast, Faster... Async, ASP.NET - Tiberiu Covaci
                </td>
                <td dir="ltr" class="s13">
                    Improving Web Site Performance and Scalability While Saving Money - Robert Boedigheimer
                </td>
                <td dir="ltr" class="s13">
                    Playing with Balls of Mud - Ashic Mahtab
                </td>
                <td dir="ltr" class="s13">
                    TDD Your javascript with Jasmine - Amir Barylko
                </td>
                <td dir="ltr" class="s13">
                    Creating a CQRS Application in Azure - David Hoerster
                </td>
            </tr>
            <tr dir="ltr">
                <td class="s6">
                    10:30 AM<br />
                    12:00 PM
                </td>
                <td class="s7">
                    8:30 AM<br />
                    10:00 AM
                </td>
                <td class="s8">
                    4:30 PM<br />
                    6:00 PM
                </td>
                <td class="s10">
                </td>
                <td dir="ltr" class="s13">
                    ASP.NET MVC Solution Best Practices - Steve Smith
                </td>
                <td dir="ltr" class="s13">
                    Your users are mobile capable. Is your application? - Andrew Steele
                </td>
                <td dir="ltr" class="s13">
                    From Zero to Hero: Windows Azure Web Sites and TFS Preview - Mitch Denny
                </td>
                <td dir="ltr" class="s13">
                    Working with Client-Side HTML5 Storages - Gil Fink
                </td>
                <td dir="ltr" class="s13">
                    Three web frameworks. All .NET. All Community Driven. One hour. Go. - Christian
                    Horsdal
                </td>
            </tr>
            <tr dir="ltr">
                <td class="s6">
                    12:00 PM<br />
                    1:30 PM
                </td>
                <td class="s7">
                    10:00 AM<br />
                    11:30 AM
                </td>
                <td class="s8">
                    6:00 PM<br />
                    7:30 PM
                </td>
                <td class="s23">
                </td>
                <td dir="ltr" class="s13">
                    How To Achieve World(-Ready) Domination In ASP.NET MVC 4 - Guy Smith-Ferrier
                </td>
                <td dir="ltr" class="s13">
                    SignalR. Code, not toothpaste. (or: Using SignalR for realtime client/server communication)
                    - Maarten Balliauw
                </td>
                <td dir="ltr" class="s13">
                    JavaScript Gotchas - Ashic Mahtab
                </td>
                <td dir="ltr" class="s13">
                    Architectural patterns for the cloud - Maarten Balliauw
                </td>
                <td dir="ltr" class="s13">
                    Super Charge Your jqGrid - David Hoerster
                </td>
            </tr>
            <tr dir="ltr">
                <td class="s6">
                    1:30 PM<br />
                    2:30 PM
                </td>
                <td class="s7">
                    11:30 AM<br />
                    12:30 PM
                </td>
                <td class="s8">
                    7:30 PM<br />
                    8:30 PM
                </td>
                <td colspan="6" dir="ltr" class="s24">
                    Keynote - Scott Hanselman
                </td>
            </tr>
            <tr dir="ltr">
                <td class="s6">
                    3:00 PM<br />
                    4:30 PM
                </td>
                <td class="s7">
                    12:30 PM<br />
                    2:30 PM
                </td>
                <td class="s8">
                    9:00 PM<br />
                    10:30 PM
                </td>
                <td class="s10">
                </td>
                <td dir="ltr" class="s13">
                    Common ASP.NET Design Patterns - Steve Smith
                </td>
                <td dir="ltr" class="s13">
                    Creating Your Own Dynamic LINQ Statements With Expression Trees - David Hoerster
                </td>
                <td dir="ltr" class="s13">
                    Testing ASP.NET MVC Views, from New Project to the Build Server - Jim Counts
                </td>
                <td dir="ltr" class="s13">
                    Mobile Web Apps with jQuery Mobile, KnockoutJS, and MVC4 - Ely Lucas
                </td>
                <td dir="ltr" class="s13">
                    Awesome HTML using UJS, jQuery &amp; Coffeescript - Amir Barylko
                </td>
            </tr>
            <tr dir="ltr">
                <td class="s6">
                    4:30 PM<br />
                    6:00 PM
                </td>
                <td class="s7">
                    2:30 PM<br />
                    4:00 PM
                </td>
                <td class="s8">
                    10:30 PM<br />
                    12:00 AM
                </td>
                <td class="s10">
                </td>
                <td dir="ltr" class="s13">
                    The Lightweight Approach to Building Web Based APIs with .Net - Christian Horsdal
                </td>
                <td dir="ltr" class="s13">
                    Deep Integration of MVC and WinForms - Matthew Kane
                </td>
                <td dir="ltr" class="s13">
                    Why ASP.NET forms authentication is broken, and what to do about it - Troels Thomsen
                </td>
                <td dir="ltr" class="s13">
                    Building complex Single Page Application should be as enjoyable as visit to a SPA
                    - Igor Moochnick
                </td>
                <td dir="ltr" class="s13">
                    Understanding Monads with JavaScript - Ashic Mahtab
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>&nbsp;</div>